 #Answer1{
    border: none;
}

#Answer2{
    border: none;
}

#Answer3{
    border: none;
}

#Answer4{
    border: none;
}

#Answer5{
    border: none;
}

#graph{
    display: block;
    margin: 0 auto;
}


/*

 /* Style the tab */
/*div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    border: none;
    background-color: #f1f1f1;
}
*/
/* Style the links inside the tab */
/*div.tab a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
    border: none;
}
*/
/* Change background color of links on hover */
/*div.tab a:hover {
    background-color: #ddd;
}*/

/*
#Answer1{
    border:none;
}*/

 Create an active/current tablink class 
/*div.tab a:focus, .active {
    background-color: #ccc;
}*/

/* Style the tab content */
/*.tabcontent {
    display: none;
    padding: 6px 12px;
    border: none;
}*/

/*.tabcontent{
    border: none
}
*/




/*.tabcontent {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
/*    border: none;
}
*/
/*@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}*/